*{
  
}

.tanda-tangan {
  padding-right: 200px;
}

.identity img{  
  margin-left: -1rem;
  height: 4rem !important;
}

.title-invoice {
  font-size: 20pt;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif !important;
  margin-top: 3rem;
  color: #000;
  font-weight: 400;
  font-family: 'Times New Roman', Times, serif;
  border-bottom: 1px solid #000
}

.kepada-style {
  font-weight: 400;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
  line-height: 10px;
  height: 10px;
}

.no_faktur {
  color: #000;
  font-family: Arial;
}

.tanggal {
  float: right;
  text-align: right;
}

.laporan_pelanggan{
  color: rgb(240, 12, 12) !important;
  font-weight: 500;
}

.surat-jalan-title {
  font-weight: 400;
  font-size: 18pt;
  
}

.bottom {
  border-bottom: 2px solid #000;
  margin-top: 8px;
}